
/* Estilização do formulário */
  .pag-form {
  margin: auto; /* Centraliza o formulário*/
  background-color: rgba(218, 218, 218, 0.9);
  padding: 34px;
  border-radius: 10px; /* Bordas redondinhas */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3); /* Sombreamento */
  width: 390px; /* largura fixa */
  display: flex; /* Usando Flexbox */
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
}


/* Estilização dos campos input*/
form input {
  background-color: rgba(218, 218, 218, 0.9); 
}

/* Espaçamento entre os campos do formulário */
  form {
    display: flex; /* Usando Flexbox */
    flex-direction: column; /* Alinha os itens em coluna */
    gap: 15px; /* Espaçamento entre os campos */
  }
