body{
  margin: 0;    /*tira margem padrão*/
  min-height: 100vh;    /*altura minima*/
  display: flex;    /*ativa o flexbox*/
  flex-direction: column;    /*alinhado como coluna*/
  justify-content: center;    /* Centralizado na vertical*/
  background: linear-gradient(135deg, #F2F6F6, #81A7A9, #044E54);    /*Fundo principal da página*/
  font-family: 'Inria Serif', serif;    /*fonte*/
}


header {
  background-color: #ffffff23;
  width: 100%;
  display: flex;
  flex-direction: column;   /*empilhar titulo es nav em coluna*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
 
nav {
  background-color: #0a4d4d;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;    /*pra ocupar toda área de click*/
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: 0.95em;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #00e1ff33;
}

/* Espaçamento para o conteúdo não ficar embaixo do header fixo */
main {
  margin-top: 130px;
  padding: 20px;
  width: 100%;
}

